.login{
    background-color: #1db954;
    color: #212121;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.login:hover{
    background-color: #535353;
}

input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

