.submit {
  background-color: #1db954;
  color: #212121;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  background-color: #535353;
}

.container{
    text-align: center;
}

