html {
    height: 100%;
    width: 100%;
    background: #212121;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
  }
  
  h4{
    font-size: 40px;
    font-weight: 500;
    color: #e0e0e0;
  }
  
  #library {
    border-collapse: collapse;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
  }
  
  #library td, #library th {
      border: none;
      padding: 8px;
      width: 20%;
    }
  
  #library tr {
    background-color: #535353;
  }
  
  #library tr:hover {
    background-color: #B3B3B3;
  }
  
  #library th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
  }
  
  th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }